<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Owners</title>
</head>
<body>
    <h1>Find Owners</h1>

    <form action="/owners/find/city" method="get">
        <label for="city">City:</label>
        <input type="text" id="citySearch" name="city" placeholder="Enter city">
        <button type="submit">Search</button>
        <button type="button" id="clearCitySearch">Clear</button>
    </form>

    <div id="ownerList">
        <!-- Owner list will be dynamically updated here -->
    </div>

    <script src="/resources/js/script.js"></script>
</body>
</html>