<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Owners</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h1>Find Owners</h1>
        <form th:action="@{/owners}" method="get">
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" class="form-control" th:value="${owner.lastName}">
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" class="form-control" th:value="${owner.city}">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</body>
</html>